server:
  port: 3000

spring:
  thymeleaf:
    cache: false
  datasource:
    hikari:
      maximum-pool-size: 10
  jackson:
    serialization:
      write-dates-as-timestamps: false
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

app:
  security:
    session-cookie-name: sessionId
